# macOS
.DS_Store

# PyCharm
.idea

# Secrets
secrets.env

# Artefacts
db.sqlite3
staticfiles

# Testing
.coverage
.pytest_cache
test-results
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
