# macOS
.DS_Store

# PyCharm
.idea

# Secrets
secret*.env
secret*.yml

# Artefacts
db.*
staticfiles
static/scss/*.css
__pycache__

# Testing
.coverage
.pytest_cache
test-results
screenshot_website*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
