extends: default

rules:
  line-length:
    max: 100

  # quarto is not compatible with document-start on its yalm file ---
  document-start: disable

  truthy:
    ignore: .github/workflows/

ignore: |
  docs/.ipynb_checkpoints/
  docs/.quarto
