{% extends "base.html" %}
{% block content %}
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Home</a>
        </li>

        <li class="vf-breadcrumbs__item">
          <a href="{% url 'analysis_summary_list' %}" class="vf-breadcrumbs__link">Analysis summaries</a>
        </li>

        <li class="vf-breadcrumbs__item" aria-current="location">
          {{ analysis_summary.slug }}
        </li>
      </ul>

    </nav>
    <h1>{{ analysis_summary.title }}</h1>
    <div class="vf-sidebar vf-sidebar--end vf-sidebar--600">
        <div class="vf-sidebar__inner">
            <div>
                <p class="vf-text-body--4">Written by: {{ analysis_summary.author }}</p>
                <p class="vf-text-body--4">Updated: {{ analysis_summary.updated|date:'Y-m-d H:i' }}</p>

                <div>{% include "holofood/components/analysis_summary.html" %}</div>
            </div>
            <div class="desktop-enforced-side-bar">
                <div class="vf-tabs">
                    <ul class="vf-tabs__list" data-vf-js-tabs>
                        {% if has_samples %}
                            <li class="vf-tabs__item">
                                <a class="vf-tabs__link" href="#vf-tabs__section--samples">Related Samples</a>
                            </li>
                        {% endif %}
                        {% if has_genome_catalogues or has_viral_catalogues %}
                            <li class="vf-tabs__item">
                                <a class="vf-tabs__link" href="#vf-tabs__section--catalogues">Related Catalogues</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="vf-tabs-content" data-vf-js-tabs-content>
                    {% if has_samples %}
                        <section class="vf-tabs__section" id="vf-tabs__section--samples">
                            <table class="vf-table full-width">
                                <thead class="vf-table__header">
                                    <tr class="vf-table__row">
                                        <th class="vf-table__heading" scope="col">Accession</th>
                                        <th class="vf-table__heading" scope="col">Animal</th>
                                    </tr>
                                </thead>
                                <tbody class="vf-table__body">
                                    {% for sample in samples %}
                                        <tr class="vf-table__row">
                                            <td class="vf-table__cell">
                                                <a class="vf-button vf-button--link vf-button--sm inline"
                                                   href="{% url 'sample_detail' pk=sample.accession %}">{{ sample.accession }}</a>
                                            </td>
                                            <td class="vf-table__cell">
                                                <a class="vf-button vf-button--link vf-button--sm inline"
                                                   href="{% url 'sample_detail' pk=sample.animal.accession %}">{{ sample.animal.accession }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot class="vf-table__footer">
                                    <tr class="vf-table__row">
                                        <td class="vf-table__cell" colspan="100">{% include "holofood/components/pagination.html" with page_obj=samples %}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </section>
                    {% endif %}
                    {% if has_genome_catalogues or has_viral_catalogues %}
                        <section class="vf-tabs__section" id="vf-tabs__section--catalogues">
                            <table class="vf-table full-width">
                                <thead class="vf-table__header">
                                    <tr class="vf-table__row">
                                        <th class="vf-table__heading" scope="col">Type</th>
                                        <th class="vf-table__heading" scope="col">Title</th>
                                    </tr>
                                </thead>
                                <tbody class="vf-table__body">
                                    {% for catalogue in genome_catalogues %}
                                        <tr class="vf-table__row">
                                            <td class="vf-table__cell">Genomes</td>
                                            <td class="vf-table__cell">
                                                <a class="vf-button vf-button--link vf-button--sm inline"
                                                   href="{% url 'genome_catalogue' pk=catalogue.id %}">{{ catalogue.title }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    {% for catalogue in viral_catalogues %}
                                        <tr class="vf-table__row">
                                            <td class="vf-table__cell">Viruses</td>
                                            <td class="vf-table__cell">
                                                <a class="vf-button vf-button--link vf-button--sm inline"
                                                   href="{% url 'viral_catalogue' pk=catalogue.id %}">{{ catalogue.title }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot class="vf-table__footer">
                                    {# No pagination – assume we never linked to more than 10 catalogues #}
                                </tfoot>
                            </table>
                        </section>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
