{% extends "base.html" %}
{% block content %}
     <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Home</a>
        </li>

        <li class="vf-breadcrumbs__item" aria-current="location">
          Analysis summaries
        </li>
      </ul>

    </nav>
    <div class="vf-stack vf-stack--400">
        <div/>
        <h2>Analysis summaries</h2>
        <section class="vf-card-container vf-card-container__col-3">
            <div class="vf-card-container__inner">
                <div class="vf-section-header vf-stack vf-stack--400">
                    <p class="vf-section-header__text">
                        Documents written by HoloFood partners and collaborators, based on analyses of the HoloFood Samples.
                    </p>
                    <hr class="vf-divider"/>
                    {% include "holofood/components/search.html" with form=filterset.form method="get" id="analysis_summaries_search" only %}
                </div>
                {% for analysis_summary in analysis_summaries.all %}
                    {% include "holofood/components/analysis_summary_card.html" with analysis_summary=analysis_summary %}
                {% endfor %}
                {% include "holofood/components/atoms/possibly_empty_state.html" with items=analysis_summaries empty_text="No summaries found" colspan=3 %}
            </div>
        </section>
    </div>
{% endblock content %}
