{% extends "base.html" %}
{% load static %}
{% load sample_metadata %}
{% block content %}
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Home</a>
        </li>

        <li class="vf-breadcrumbs__item" aria-current="location">
          Animals
        </li>
      </ul>

      <span class="vf-breadcrumbs__heading">Related:</span>

      <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'samples_list' %}" class="vf-breadcrumbs__link">Samples</a>
        </li>
      </ul>

    </nav>
    <div class="vf-sidebar vf-sidebar--start vf-sidebar--800">
        <div class="vf-sidebar__inner">
            <div>
                <h2>Filter animals</h2>
                {% include "holofood/components/form.html" with form=filterset.form method="get" submit="Apply" id="animal_filters" only %}
                {% include "holofood/scripts/table_sorter.html" with formId="animal_filters" %}
            </div>
            <div>
                <h2>Animals (hosts)</h2>
                <p class="vf-text-body vf-text-body--5">Host-level data are archived as BioSamples from which extraction-level <a class="vf-link" href="{% url 'samples_list' %}">samples</a> are derived.</p>
                <a class="vf-button vf-button--link vf-button--sm"
                   href="{% url 'export:animals_list' %}"><i class="icon icon-common icon-download"></i>&nbsp;Download all as TSV</a>
                <div class="scrollable-container">
                    <table class="vf-table">
                        <thead class="vf-table__header">
                            <tr class="vf-table__row">
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Animal accession" param="accession" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Treatment code" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Inclusion level" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Trial timepoint" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Samples available" param="samples_count" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Detail" param="" %}
                            </tr>
                        </thead>
                        <tbody class="vf-table__body">
                            {% for animal in animals %}
                                <tr class="vf-table__row">
                                    <td class="vf-table__cell">
                                        {% include "holofood/components/atoms/animal_accession.html" with animal=animal only %}
                                    </td>
                                    <td class="vf-table__cell">{{ animal|animal_metadatum:"host diet treatment"|default:"—" }}</td>
                                    <td class="vf-table__cell">{{ animal|animal_metadatum:"host diet treatment concentration"|default:"—" }}</td>
                                    <td class="vf-table__cell">{{ animal|animal_metadatum:"trial timepoint"|default:"—" }}</td>
                                    <td class="vf-table__cell">
                                        <a class="vf-link" href="{% url 'samples_list' %}?animal_accession__icontains={{ animal.accession }}">{{ animal.samples_count }} samples</a>
                                        {% data_types animal %}
                                    </td>
                                    <td class="vf-table__cell">
                                        <a class="vf-button vf-button--link vf-button--sm"
                                           href="{% url 'animal_detail' pk=animal.accession %}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="vf-table__footer">
                            <tr class="vf-table__row">
                                <td class="vf-table__cell" colspan="100">{% include "holofood/components/pagination.html" %}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
