{% extends "base.html" %}
{% load sample_metadata %}
{% load static %}
{% block content %}
     <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Home</a>
        </li>

        <li class="vf-breadcrumbs__item">
          <a href="{% url 'animals_list' %}" class="vf-breadcrumbs__link">Animals</a>
        </li>

        <li class="vf-breadcrumbs__item" aria-current="location">
          {{ animal.accession }}
        </li>
      </ul>

      <span class="vf-breadcrumbs__heading">Related:</span>

      <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'samples_list' %}?animal_accession__icontains={{ animal.accession }}" class="vf-breadcrumbs__link">Derived samples</a>
        </li>
      </ul>

    </nav>
    <h1>{{ animal.accession }}: a HoloFood {{ animal.system }} host</h1>
    <p class="vf-lede">
        Data available for {{ animal.accession }}
    </p>
    <br/>

    <details class="vf-details" open>
        <summary class="vf-details--summary">
            Animal details
        </summary>
        <dl class="vf-list vf-list--definition">
            <dt class="vf-list__item vf-list--definition__term">
                System
            </dt>
            <dd class="vf-list__item vf-list--definition__details">
                <a class="vf-link"
                   href="{% url 'animals_list' %}?system={{ animal.system }}">{{ animal.system }}</a>
            </dd>
            <dt class="vf-list__item vf-list--definition__term">
                Samples
            </dt>
            <dd class="vf-list__item vf-list--definition__details">
                {% data_types animal %}
                <a class="vf-link"
                   href="{% url 'samples_list' %}?animal_accession__icontains={{ animal.accession }}">View {{ animal.samples_count }} derived sample{{ animal.samples_count|pluralize }}</a>
            </dd>
            <dt class="vf-list__item vf-list--definition__term">
                API endpoint
            </dt>
            {% url "api:animal_detail" animal_accession=animal.accession as endpoint %}
            {% include "holofood/scripts/copy_api_endpoint.html" %}
            <dd class="vf-list__item vf-list--definition__details">
                <span class="api-endpoint">
                    <a class="vf-link" href="{{ endpoint }}">{{ endpoint }}</a>
                    <span class="tooltiped">
                        <button class="vf-button vf-button--link vf-button--sm inline"
                            onclick="copyApiEndpoint()">
                            <img src="{% static 'img/icons/copy.svg' %}" height="16px" alt="Copy"/>
                        </button>
                        <span id="endpoint-copy-tooltip" class="tooltip-text">Copy API Endpoint</span>
                    </span>

                </span>
            </dd>
        </dl>
    </details>

    <details class="vf-details">
        <summary class="vf-details--summary">
            Animal metadata
        </summary>
        <a id="metadata"></a>
        <p class="vf-text-body">Metadata for sample {{ animal.accession }}, stored in BioSamples.</p>
        <a class="vf-button vf-button--link vf-button--sm"
           href="{% url 'export:animal_metadata_list' animal_accession=animal.accession %}"><i class="icon icon-common icon-download"></i>&nbsp;Download all as TSV</a>

        {% include "holofood/components/sample_metadata_table.html" with sample=animal only %}
    </details>

{% endblock content %}
