{% extends "base.html" %}
{% load string_utils %}
{% load sample_metadata %}
{% load static %}
{% load humanize %}
{% block content %}
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Home</a>
        </li>

        <li class="vf-breadcrumbs__item">
          <a href="{% url 'samples_list' %}" class="vf-breadcrumbs__link">Samples</a>
        </li>

        <li class="vf-breadcrumbs__item" aria-current="location">
          {{ sample.accession }}
        </li>
      </ul>

      <span class="vf-breadcrumbs__heading">Related:</span>

      <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'animal_detail' pk=sample.animal.accession %}" class="vf-breadcrumbs__link">Animal {{ sample.animal.accession }}</a>
        </li>
      </ul>

    </nav>
    <h1>{{ sample.accession }}: {{ sample.title }}</h1>
    <p class="vf-lede">
        Sample data for {{ sample.accession }}, a HoloFood {{ sample.sample_type|replace:"_>-" }} {{ sample.animal.system }} sample
    </p>
    <br/>

    <details class="vf-details" open>
        <summary class="vf-details--summary">
            Sample details
        </summary>
        <dl class="vf-list vf-list--definition">
            <dt class="vf-list__item vf-list--definition__term">
                Animal
            </dt>
            <dd class="vf-list__item vf-list--definition__details">
                {% include "holofood/components/atoms/animal_accession.html" with animal=sample.animal only %}
            </dd>
            <dt class="vf-list__item vf-list--definition__term">
                Sample type
            </dt>
            <dd class="vf-list__item vf-list--definition__details">
                {% include "holofood/components/atoms/sample_type.html" with sample=sample only %}
            </dd>
            <dt class="vf-list__item vf-list--definition__term">
                API endpoint
            </dt>
            {% url 'api:sample_detail' sample_accession=sample.accession as endpoint %}
            <dd class="vf-list__item vf-list--definition__details">
                <span class="api-endpoint">
                    <a class="vf-link" href="{{ endpoint }}">{{ endpoint }}</a>
                    <span class="tooltiped">
                        <button class="vf-button vf-button--link vf-button--sm inline"
                            onclick="copyApiEndpoint()">
                            <img src="{% static 'img/icons/copy.svg' %}" height="16px" alt="Copy"/>
                        </button>
                        <span id="endpoint-copy-tooltip" class="tooltip-text">Copy API Endpoint</span>
                    </span>

                </span>
            </dd>
        </dl>
    </details>
    <script>
        function copyApiEndpoint(e) {
            navigator.clipboard.writeText('{{ endpoint }}');
            window.document.getElementById('endpoint-copy-tooltip').textContent = "Copied!";
        }
    </script>
    <details class="vf-details">
        <summary class="vf-details--summary">
            {% if sample.is_sequencing_sample or sample.sample_type == 'metabolomic' %}
                Sample metadata
            {% else %}
                Sample data
            {% endif %}
        </summary>
        <a id="metadata"></a>
        <p class="vf-text-body">Metadata for sample {{ sample.accession }}, stored in BioSamples and ENA.</p>
        <a class="vf-button vf-button--link vf-button--sm"
           href="{% url 'export:sample_metadata_list' sample_accession=sample.accession %}"><i class="icon icon-common icon-download"></i>&nbsp;Download all as TSV</a>

        <div class="autoComplete_wrapper">
            <input id="typeahead" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off"/>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
        <script>
            const autoCompleteJS = new autoComplete({
                selector: "#typeahead",
                placeHolder: "Search metadata markers",
                data: {
                    src: [
                        {% for metadatum in sample.structured_metadata.all %}
                            {name: "{{ metadatum.marker.name }}", type: "{{ metadatum.marker.type }}"},
                        {% endfor %}
                    ],
                    keys: ["name"],
                    cache: true,
                },
                resultItem: {
                    highlight: true
                },
                resultsList: {
                    class: "typeahead-results",
                    position: "beforebegin"
                },
                events: {
                    input: {
                        selection: (event) => {
                            autoCompleteJS.input.value = event.detail.selection.value.name;

                            const tabPanels = document.querySelectorAll(
                                "[data-vf-js-tabs-content] [id^=\"vf-tabs__section\"]"
                            );
                            const tabForSelectedMarker = document.querySelector(
                                `[data-vf-js-tabs] .vf-tabs__link[data-metadata-type-key="${event.detail.selection.value.type}"] `
                            );
                            vfTabsSwitch(tabForSelectedMarker, tabPanels);

                        },
                        navigate: (event) => {
                            Array.from(document.querySelectorAll('.highlight-tab-match'))
                                .forEach((el) => el.classList.remove('highlight-tab-match'));
                            Array.from(document.querySelectorAll('.highlight-tab-select'))
                                .forEach((el) => el.classList.remove('highlight-tab-select'));

                            const matchingDataTypes = [... new Set(event.detail.matches.map(match => match.value.type))];
                            matchingDataTypes.forEach((metadataKey => {
                                const tabs = document.querySelector(`[data-metadata-type-key="${metadataKey}"]`);
                                tabs.classList.add("highlight-tab-match");
                            }));

                            document.querySelector(
                                `[data-metadata-type-key="${event.detail.selection.value.type}"]`
                            ).classList.add("highlight-tab-select");
                        }
                    }
                }
            });
        </script>

        {% regroup sample.structured_metadata.all by marker.type as metadata_sections %}
        <div class="vf-tabs">
            <ul class="vf-tabs__list" data-vf-js-tabs id="metadata-sections-tabs">
                {% for metadata_section in metadata_sections %}
                    <li class="vf-tabs__item">
                        <a class="vf-tabs__link"
                           data-metadata-type-key="{{ metadata_section.grouper }}"
                           href="#vf-tabs__section--{{ metadata_section.grouper|lower|cut:" " }}">{{ metadata_section.grouper|default:"Generic"|title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="vf-tabs-content" data-vf-js-tabs-content>
            {% for metadata_section in metadata_sections %}
                <section class="vf-tabs__section"
                         id="vf-tabs__section--{{ metadata_section.grouper|lower|cut:" " }}">
                    <h2>{{ metadata_section.grouper|default:"Generic"|title }} metadata</h2>
                    <table class="vf-table scrollable-table">
                        <thead class="vf-table__header">
                            <tr class="vf-table__row">
                                <th class="vf-table__heading" scope="col">Marker</th>
                                <th class="vf-table__heading" scope="col">Measurement</th>
                                <th class="vf-table__heading" scope="col">Units</th>
                            </tr>
                        </thead>
                        <tbody class="vf-table__body">
                            {% for structured_metadatum in metadata_section.list|holofood_ordering_rules %}
                                <tr class="vf-table__row">
                                    <td class="vf-table__cell">{{ structured_metadatum.marker.name }}</td>
                                    <td class="vf-table__cell">{{ structured_metadatum.measurement|significant_digits:"5" }}</td>
                                    <td class="vf-table__cell">{{ structured_metadatum.units }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% endfor %}
        </div>
    </details>
    {% if sample.sample_type == sample.METAGENOMIC_ASSEMBLY or sample.sample_type == sample.METAGENOMIC_AMPLICON %}
        <details class="vf-details">
            <summary class="vf-details--summary">
                Metagenomics
            </summary>
            <a id="metagenomics"></a>
            <p>
                Sample {{ sample.accession }} may have been analysed by MGnify.
                <a class="vf-button vf-button--link vf-button--sm"
                   href="{{ MGNIFY_WEB_URL }}/samples/{{ sample.accession }}">Lookup sample on MGnify</a>
            </p>
            <table class="vf-table scrollable-table">
                <thead class="vf-table__header">
                    <tr class="vf-table__row">
                        <th class="vf-table__heading" scope="col">Analysis accession</th>
                        <th class="vf-table__heading" scope="col">Run/assembly accession</th>
                        <th class="vf-table__heading" scope="col">MGnify pipeline version</th>
                        <th class="vf-table__heading" scope="col">Experiment type</th>
                        <th class="vf-table__heading" scope="col">Detail</th>
                    </tr>
                </thead>
                <h3>Analyses</h3>
                <tbody class="vf-table__body">
                    {% if analyses_error %}
                        <article class="vf-card vf-card--hf vf-card--bordered error vf-grid__col--span-{{ colspan|default:1 }}">
                            <div class="vf-card__content | vf-stack vf-stack--400">
                                <div class="vf-flag vf-flag--middle vf-flag--400">
                                    <div class="vf-flag__media">
                                        <img src="{% static 'img/icons/empty-egg.svg' %}"
                                             height="36px"
                                             width="36px"
                                             alt="Empty set icon"/>
                                    </div>
                                    <div class="vf-flag__body">
                                        <p class="vf-card__subheading">Could not connect to MGnify right now. Please try later.</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                    {% for analysis in analyses %}
                        <tr class="vf-table__row">
                            <td class="vf-table__cell">
                                <a href="{{ MGNIFY_WEB_URL }}/analyses/{{ analysis.id }}"
                                   class="vf-link">{{ analysis.id }}</a>
                            </td>
                            <td class="vf-table__cell">
                                {% if analysis.relationships.run.data %}
                                    <a href="{{ MGNIFY_WEB_URL }}/runs/{{ analysis.relationships.run.data.id }}"
                                       class="vf-link">
                                        {{ analysis.relationships.run.data.id }}
                                    </a>
                                {% elif analysis.relationships.assembly.data.id %}
                                    <a href="{{ MGNIFY_WEB_URL }}/assemblies/{{ analysis.relationships.assembly.data.id }}"
                                       class="vf-link">
                                        {{ analysis.relationships.assembly.data.id }}
                                    </a>
                                {% endif %}
                            </td>
                            <td class="vf-table__cell">{{ analysis.attributes.pipeline_version }}</td>
                            <td class="vf-table__cell">{{ analysis.attributes.experiment_type }}</td>
                            <td class="vf-table__cell">
                                <a class="vf-button vf-button--link vf-button--sm inline"
                                   href="{{ MGNIFY_WEB_URL }}/analyses/{{ analysis.id }}">
                                    View on MGnify
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include "holofood/components/atoms/possibly_empty_state.html" with items=analyses empty_text="No analyses found in MGnify" colspan=3 %}
        </details>
    {% endif %}
    {% if sample.sample_type == sample.METABOLOMIC %}
        <details class="vf-details">
            <summary class="vf-details--summary">
                Metabolomics
            </summary>
            <a id="metabolomics"></a>
            <p>
                Sample {{ sample.accession }} has metabolomics analysis on MetaboLights.
                <a href="{{ METABOLIGHTS_WEB_URL }}/{{ sample.metabolights_study }}" class="vf-button vf-button--link vf-button--sm inline">View project {{ sample.metabolights_study }} on MetaboLights</a>
            </p>
            <h3>Sample assays and files</h3>
            <div class="scrollable-container">
                <table class="vf-table scrollable-table">
                    <thead class="vf-table__header">
                        <tr class="vf-table__row">
                            <th class="vf-table__heading" scope="col">Assay sheet</th>
                            <th class="vf-table__heading" scope="col">Sample name</th>
                            <th class="vf-table__heading" scope="col">Raw Spectral Data File</th>
                            <th class="vf-table__heading" scope="col">Derived Spectral Data File</th>
                            <th class="vf-table__heading" scope="col">Metabolite Assignment File</th>
                        </tr>
                    </thead>
                    <tbody class="vf-table__body">
                        {% for assay in assays %}
                            <tr class="vf-table__row">
                                <td class="vf-table__cell">
                                    <a href="{{ METABOLIGHTS_API_URL }}/studies/{{ sample.metabolights_study }}/assays"
                                       class="vf-link">{{ assay.assay_sheet }}</a>
                                </td>
                                <td class="vf-table__cell">
                                    <a href="{{ METABOLIGHTS_API_URL }}/studies/{{ sample.metabolights_study }}/samples"
                                       class="vf-link">{{ assay.sample_assay.Sample_Name }}</a>
                                </td>
                                <td class="vf-table__cell">
                                    <a href="{{ METABOLIGHTS_API_URL }}/studies/{{ sample.metabolights_study }}/download/public?file={{ assay.sample_assay.Raw_Spectral_Data_File }}"
                                       class="vf-link">{{ assay.sample_assay.Raw_Spectral_Data_File }}</a>
                                </td>
                                <td class="vf-table__cell">
                                    <a href="{{ METABOLIGHTS_API_URL }}/studies/{{ sample.metabolights_study }}/download/public?file={{ assay.sample_assay.Derived_Spectral_Data_File }}"
                                       class="vf-link">{{ assay.sample_assay.Derived_Spectral_Data_File }}</a>
                                </td>
                                <td class="vf-table__cell">
                                    <a href="{{ METABOLIGHTS_API_URL }}/studies/{{ sample.metabolights_study }}/download/public?file={{ assay.sample_assay.Metabolite_Assignment_File }}"
                                       class="vf-link">{{ assay.sample_assay.Metabolite_Assignment_File }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "holofood/components/atoms/possibly_empty_state.html" with items=assays empty_text="No assays found in MetaboLights" colspan=3 %}
        </details>
    {% endif %}
    {% if sample.is_sequencing_sample %}
        <details class="vf-details">
            <summary class="vf-details--summary">
                Nucleotide sequencing data
            </summary>
            <a id="sequencing"></a>
            <p>
                Sample {{ sample.accession }} has nucleotide sequencing data in the European Nucleotide Archive (ENA):
                {{ ena_records.base_count|intcomma|default:"Unknown" }}bp sequenced by {{ ena_records.read_count|intcomma|default:"unknown" }} reads.
                <a href="{{ ENA_BROWSER_URL }}/{{ sample.accession }}" class="vf-button vf-button--link vf-button--sm inline">View sample {{ sample.accession }} in ENA</a>
            </p>
            <h3>Related records in ENA</h3>
            <table class="vf-table scrollable-table">
                <thead class="vf-table__header">
                    <tr class="vf-table__row">
                        <th class="vf-table__heading" scope="col">Data domain</th>
                        <th class="vf-table__heading" scope="col">Accession</th>
                        <th class="vf-table__heading" scope="col">Title/alias</th>
                    </tr>
                </thead>
                <tbody class="vf-table__body">
                    <tr class="vf-table__row">
                        <td class="vf-table__cell">
                            Sample
                        </td>
                        <td class="vf-table__cell">
                            <a href="{{ ENA_BROWSER_URL }}/{{ sample.accession }}"
                               class="vf-link">{{ sample.accession }}</a>
                        </td>
                        <td class="vf-table__cell">
                            {{ ena_records.sample_title }}
                        </td>
                    </tr>
                    <tr class="vf-table__row">
                        <td class="vf-table__cell">
                            Reads (Run)
                        </td>
                        <td class="vf-table__cell">
                            <a href="{{ ENA_BROWSER_URL }}/{{ ena_records.run_accession }}"
                               class="vf-link">{{ ena_records.run_accession }}</a>
                        </td>
                        <td class="vf-table__cell">
                            {{ ena_records.run_alias }}
                        </td>
                    </tr>
                    <tr class="vf-table__row">
                        <td class="vf-table__cell">
                            Reads (Experiment)
                        </td>
                        <td class="vf-table__cell">
                            <a href="{{ ENA_BROWSER_URL }}/{{ ena_records.experiment_accession }}"
                               class="vf-link">{{ ena_records.experiment_accession }}</a>
                        </td>
                        <td class="vf-table__cell">
                            {{ ena_records.experiment_title }}
                        </td>
                    </tr>
                    <tr class="vf-table__row">
                        <td class="vf-table__cell">
                            Project/Study
                        </td>
                        <td class="vf-table__cell">
                            <a href="{{ ENA_BROWSER_URL }}/{{ ena_records.study_accession }}"
                               class="vf-link">{{ ena_records.study_accession }}</a>
                        </td>
                        <td class="vf-table__cell">
                            {{ ena_records.study_title }}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if not ena_records %}
                {% include "holofood/components/atoms/possibly_empty_state.html" with empty_text="No assays found in MetaboLights" colspan=3 %}
            {% endif %}
        </details>
    {% endif %}

    <section class="vf-card-container vf-card-container__col-3 | vf-u-background-color--grey--lightest vf-u-fullbleed">
        <div class="vf-card-container__inner">
            <div class="vf-section-header">
                <h2 class="vf-section-header__heading">
                    Analysis summaries
                </h2>
                <p class="vf-section-header__text">
                    Documents written by HoloFood partners and collaborators relevant to Sample {{ sample.accession }}
                </p>
            </div>
            {% for analysis_summary in sample.analysis_summaries.all %}
                {% include "holofood/components/analysis_summary_card.html" with analysis_summary=analysis_summary %}
            {% endfor %}
            {% include "holofood/components/atoms/possibly_empty_state.html" with items=sample.analysis_summaries empty_text="No summaries mention this sample directly" colspan=3 %}
        </div>
    </section>
{% endblock content %}
