{% extends "base.html" %}
{% load static %}
{% load sample_metadata %}
{% block content %}
    <nav class="vf-breadcrumbs" aria-label="Breadcrumb">
      <ul class="vf-breadcrumbs__list | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'home' %}" class="vf-breadcrumbs__link">Home</a>
        </li>

          {% if from_animal %}
            <li class="vf-breadcrumbs__item">
              <a href="{% url 'animal_detail' pk=from_animal %}" class="vf-breadcrumbs__link">Animal {{ from_animal }}</a>
            </li>
          {% endif %}

        <li class="vf-breadcrumbs__item" aria-current="location">
          Samples
        </li>
      </ul>

      <span class="vf-breadcrumbs__heading">Related:</span>

      <ul class="vf-breadcrumbs__list vf-breadcrumbs__list--related | vf-list vf-list--inline">
        <li class="vf-breadcrumbs__item">
          <a href="{% url 'animals_list' %}" class="vf-breadcrumbs__link">Animals</a>
        </li>
      </ul>

    </nav>
    <div class="vf-sidebar vf-sidebar--start vf-sidebar--800">
        <div class="vf-sidebar__inner">
            <div>
                <h2>Filter samples</h2>
                {% include "holofood/components/form.html" with form=filterset.form method="get" submit="Apply" id="sample_filters" only %}
                {% include "holofood/scripts/table_sorter.html" with formId="sample_filters" %}
            </div>
            <div>
                <h2>Samples</h2>
                <p class="vf-text-body vf-text-body--5">Samples listed are extraction-level BioSamples, derived from <a class="vf-link" href="{% url 'animals_list' %}">animals</a> across HoloFood trials.</p>
                <a class="vf-button vf-button--link vf-button--sm"
                   href="{% url 'export:samples_list' %}"><i class="icon icon-common icon-download"></i>&nbsp;Download all as TSV</a>
                <div class="scrollable-container">
                    <table class="vf-table">
                        <thead class="vf-table__header">
                            <tr class="vf-table__row">
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Sample accession" param="accession" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Animal" param="animal__accession" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Treatment code" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Inclusion level" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Trial timepoint" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Sample type" param="" %}
                                {% include "holofood/components/atoms/maybe_sortable_table_column_heading.html" with form=filterset.form title="Detail" param="" %}
                            </tr>
                        </thead>
                        <tbody class="vf-table__body">
                            {% for sample in samples %}
                                <tr class="vf-table__row">
                                    <td class="vf-table__cell">
                                        <a class="vf-link" href="{% url 'sample_detail' pk=sample.accession %}">{{ sample.accession }}</a>
                                    </td>
                                    <td class="vf-table__cell">
                                        {% include "holofood/components/atoms/animal_accession.html" with animal=sample.animal only %}
                                    </td>
                                    <td class="vf-table__cell">{{ sample.animal|animal_metadatum:"host diet treatment"|default:"—" }}</td>
                                    <td class="vf-table__cell">{{ sample.animal|animal_metadatum:"host diet treatment concentration"|default:"—" }}</td>
                                    <td class="vf-table__cell">{{ sample.animal|animal_metadatum:"trial timepoint"|default:"—" }}</td>
                                    <td class="vf-table__cell">{% include "holofood/components/atoms/sample_type.html" with sample=sample only %}</td>
                                    <td class="vf-table__cell">
                                        <a class="vf-button vf-button--link vf-button--sm"
                                           href="{% url 'sample_detail' pk=sample.accession %}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="vf-table__footer">
                            <tr class="vf-table__row">
                                <td class="vf-table__cell" colspan="100">{% include "holofood/components/pagination.html" %}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
