{% extends "base.html" %}
{% block content %}
    <div class="vf-stack vf-stack--400">
        <div/>
        <h2>Search results</h2>
        <p class="lead">
            HoloFood data objects matching "{{ query }}"
        </p>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Samples ({{ samples.count }})</h4>
            {% for sample in samples.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ sample.accession }}
                      <span class="vf-summary__meta">
                          {{ sample.animal.system }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'sample_detail' pk=sample.accession %}" class="vf-summary__link">
                            {{ sample.title }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      A {{ sample.animal.system }} {{ sample.sample_type }} sample derived from animal {{ sample.animal.accession }}
                    </p>
                </article>
            {% endfor %}
            {% if samples.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'samples_list' %}">See more samples</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Hosts/Animals ({{ animals.count }})</h4>
            {% for animal in animals.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ animal.accession }}
                      <span class="vf-summary__meta">
                          {{ animal.system }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'animal_detail' pk=animal.accession %}" class="vf-summary__link">
                            {{ animal.accession }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      A {{ animal.system }} sample with {{ animal.samples_count }} derived samples
                    </p>
                </article>
            {% endfor %}
            {% if animals.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'animals_list' %}">See more animals</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Genome Catalogues ({{ mag_catalogues.count }})</h4>
            {% for cat in mag_cataogues.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ cat.biome }}
                      <span class="vf-summary__meta">
                          {{ cat.system }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'genome_catalogue' pk=cat.id %}" class="vf-summary__link">
                            {{ cat.title }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      A genome catalogue with {{ cat.genomes.count }} genomes, matched to the public {{ cat.related_mag_catalogue_id }} catalogue
                    </p>
                </article>
            {% endfor %}
            {% if mag_catalogues.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'genome_catalogues' %}">See all catalogues</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Genomes ({{ mags.count }})</h4>
            {% for mag in mags.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ mag.catalogue.biome }}
                      <span class="vf-summary__meta">
                          {{ mag.catalogue.title }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'genome_catalogue' pk=mag.catalogue.id %}" class="vf-summary__link">
                            {{ mag.accession }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      A genome from the {{ mag.catalogue.title }} catalogue with taxonomy: {{ mag.taxonomy }}
                    </p>
                </article>
            {% endfor %}
            {% if mags.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'genome_catalogues' %}">See all genomes</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Viral Catalogues ({{ viral_catalogues.count }})</h4>
            {% for cat in viral_catalogues.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ cat.biome }}
                      <span class="vf-summary__meta">
                          {{ cat.system }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'genome_catalogue' pk=cat.id %}" class="vf-summary__link">
                            {{ cat.title }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      A viral catalogue with {{ cat.viral_fragments.count }} viral fragment,
                        related to the {{ cat.related_genome_catalogue.title }} genome catalogue
                    </p>
                </article>
            {% endfor %}
            {% if viral_cats.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'viral_catalogues' %}">See all catalogues</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Viral Fragments ({{ viral_fragments.count }})</h4>
            {% for frag in viral_fragments.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ frag.catalogue.biome }}
                      <span class="vf-summary__meta">
                          {{ frag.viral_type }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'viral_catalogue_fragment' pk=frag.catalogue.id viral_fragment_pk=frag.id %}" class="vf-summary__link">
                            {{ frag.id }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      A {{ frag.viral_type }} viral fragment from the {{ frag.catalogue.title }} catalogue.
                        From the {{ frag.contig_id }} contig in MGnify analysis {{ frag.mgnify_analysis_accession }}.
                    </p>
                </article>
            {% endfor %}
            {% if viruses.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'viral_catalogues' %}">See all viruses</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Analysis Summaries ({{ analysis_summaries.count }})</h4>
            {% for analysis_summary in analysis_summaries.all|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          {{ analysis_summary.updated }}
                      <span class="vf-summary__meta">
                          {{ analysis_summary.author }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{% url 'analysis_summary_detail' slug=analysis_summary.slug %}" class="vf-summary__link">
                            {{ analysis_summary.title }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                        {{ analysis_summary.content|truncatechars:200 }}
                    </p>
                </article>
            {% endfor %}
            {% if analysis_summaries.count > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{% url 'analysis_summary_list' %}">See all analysis summaries</a>
            {% endif %}
        </section>

        <section>
            <h4 class="vf-text vf-text-heading--5">Matching Documentation ({{ docs_sections|length }})</h4>
            {% for doc in docs_sections|slice:":10" %}
                <article class="vf-summary hf-search-result">
                    <p class="vf-summary__date">
                          Documentation
                      <span class="vf-summary__meta">
                          {{ doc.title }}
                      </span>
                    </p>
                    <h3 class="vf-summary__title">
                        <a href="{{ DOCS_URL }}/{{ doc.href }}" class="vf-summary__link">
                            {{ doc.section|default:doc.title }}
                        </a>
                    </h3>
                    <p class="vf-summary__text">
                      {{ doc.text|truncatechars:200 }}
                    </p>
                </article>
            {% endfor %}
            {% if docs_sections|length > 10 %}
                <a class="vf-button vf-button--secondary vf-button--sm" href="{{ DOCS_URL }}">See more documentation</a>
            {% endif %}
        </section>

    </div>
{% endblock content %}
