{% extends "base.html" %}
{% load query_params %}
{% load taxonomy %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/igv@2.12.6/dist/igv.min.js"></script>
    {% if selected_viral_fragment %}
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            var igvDiv = document.getElementById("igv-contig-browser");

            const viralRegion =
                {
                    color: "rgba(68, 246, 134, 0.15)",
                    name: "Viral region",
                    features: [
                    {
                        chr: "{{ selected_viral_fragment.contig_id }}",
                        start: {{ selected_viral_fragment.start_within_contig }},
                        end: {{ selected_viral_fragment.end_within_contig }},
                        name: "Viral region"
                    }]
                }

            var options =
                {
                    reference: {
                        indexed: false,
                        fastaURL: "{{ MGNIFY_API_URL }}/analyses/{{ selected_viral_fragment.mgnify_analysis_accession }}/contigs/{{ selected_viral_fragment.contig_id }}",
                        id: "{{ selected_viral_fragment.contig_id }}"
                    },
                    locus: "{{ selected_viral_fragment.contig_id }}:{{ selected_viral_fragment.start_within_contig|add:-100 }}-{{ selected_viral_fragment.end_within_contig|add:100 }}",
                    roi: [
                        viralRegion
                    ],
                    tracks: [
                        {
                            name: "Functional annotations",
                            format: "gff3",
                            indexed: false,
                            url: "{{ MGNIFY_API_URL }}/analyses/{{ selected_viral_fragment.mgnify_analysis_accession }}/contigs/{{ selected_viral_fragment.contig_id }}/annotations",
                            displayMode: 'expanded',
                        },
                        {
                            name: "ViPhOGs",
                            format: "gff3",
                            indexed: false,
                            url: "{% url 'viral_fragment_gff' pk=selected_viral_fragment.id %}",
                            displayMode: 'expanded',
                            color: '#777722',
                        }
                    ],
                };

            igv.createBrowser(igvDiv, options)
                .then(function (browser) {
                    console.log("Created IGV browser");
                });
        });
        </script>
    {% endif %}
    <nav class="vf-navigation vf-navigation--on-this-page | vf-u-fullbleed | vf-cluster"
         style="margin-top: 16px;">
        <ul class="vf-navigation__list | vf-list | vf-cluster__inner"
            data-vf-js-navigation-on-this-page-container="false">
            <li class="vf-navigation__item">Catalogues:</li>
            {% for cat in catalogues %}
                <li class="vf-navigation__item">
                    <a href="{% url 'viral_catalogue' pk=cat.id %}"
                       class="vf-navigation__link"
                       {% if cat.id == catalogue.id %}aria-selected="true"{% endif %}>{{ cat.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <section class="vf-card-container | vf-u-background-color-ui--grey--light vf-u-fullbleed vf-stack">
        <h2 class="vf-section-header__heading">Viral contig viewer</h2>
        <div style="background-color: white; width: 100%; padding: 24px"
             class="vf-stack vf-stack--400">
            <div id="igv-contig-browser">
                {% if not selected_viral_fragment %}
                    <h4>No contig selected</h4>
                    <p class="vf-text-body vf-text-body--4">Select a viral sequence in the table to view its parent contig</p>
                {% endif %}
            </div>
            {% if selected_viral_fragment %}
                <div class="vf-grid vf-grid__col-2">
                    <div class="vf-flag vf-flag--top vf-flag--400">
                        <div class="vf-flag__media">
                            <div style="height: 24px; width: 24px; background-color: rgba(68, 246, 134, 0.25); border-radius: 4px"></div>
                        </div>
                        <div class="vf-flag__body">
                            <p class="vf-u-type__text-heading--5 vf-u-margin--0">Viral region</p>
                        </div>
                    </div>
                    <div>
                        <a style="float: right" class="vf-button vf-button--link vf-button--sm" href="{% url 'viral_fragment_gff' pk=selected_viral_fragment.id %}">
                            <i class="icon icon-common icon-download"></i>&nbsp;Download ViPhOGs GFF</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
    <div class="vf-sidebar vf-sidebar--start vf-sidebar--800">
        <div class="vf-sidebar__inner">
            <div>
                <h2>Filter viral fragments</h2>
                {% clear_filters_button %}
                {% include "holofood/components/form.html" with form=filterset.form method="get" submit="Apply" id="viral_fragment_filters" only %}
            </div>
            <div style="overflow-x: scroll">
                <h2>{{ catalogue.title }} viral catalogue</h2>
                <a class="vf-button vf-button--link vf-button--sm" href="{% url 'export:viral_fragments_list' catalogue_id=catalogue.id %}"><i class="icon icon-common icon-download"></i>&nbsp;Download all as TSV</a>
                <a class="vf-button vf-button--link vf-button--sm"
                   href="{% url 'genome_catalogue' pk=catalogue.related_genome_catalogue.id %}">Browse related MAG catalogue</a>
                <table class="vf-table scrollable-table">
                    <thead class="vf-table__header">
                        <tr class="vf-table__row">
                            <th class="vf-table__heading" scope="col">Viral&nbsp;sequence&nbsp;ID</th>
                            <th class="vf-table__heading" scope="col">Parent contig</th>
                            <th class="vf-table__heading" scope="col">Type</th>
                            <th class="vf-table__heading" scope="col">Taxonomy</th>
                            <th class="vf-table__heading" scope="col">Host MAG</th>
                            <th class="vf-table__heading" scope="col">Host taxonomy</th>
                            <th class="vf-table__heading" scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody class="vf-table__body">
                        {% for viral_fragment in viral_fragments %}
                            <tr class="vf-table__row">
                                <td class="vf-table__cell">{{ viral_fragment.id }}</td>
                                <td class="vf-table__cell">
                                    <a class="vf-link"
                                       href="{{ MGNIFY_WEB_URL }}/analyses/{{ viral_fragment.mgnify_analysis_accession }}?selected_contig={{ viral_fragment.contig_id }}#contigs-viewer">{{ viral_fragment.contig_id }}</a>
                                </td>
                                <td class="vf-table__cell">
                                    {{ viral_fragment.viral_type }}
                                </td>
                                <td class="vf-table__cell">{% taxonomy_tooltip taxonomy=viral_fragment.taxonomy %}</td>
                                <td class="vf-table__cell">
                                    {% if viral_fragment.host_mag %}
                                        <a class="vf-button vf-button--link vf-button--sm inline"
                                           href="{% url 'genome_catalogue' pk=catalogue.related_genome_catalogue.id %}?accession__icontains={{ viral_fragment.host_mag.accession }}">
                                            {{ viral_fragment.host_mag.accession }}
                                        </a>
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                                <td class="vf-table__cell">
                                    {% if viral_fragment.host_mag %}
                                        {% taxonomy_tooltip taxonomy=viral_fragment.host_mag.taxonomy %}
                                    {% else %}
                                        —
                                    {% endif %}
                                </td>
                                <td class="vf-table__cell">
                                    {% if viral_fragment.id == selected_viral_fragment.id %}
                                        <b>Viewing</b>
                                    {% else %}
                                        <a class="vf-button vf-button--link vf-button--sm inline"
                                           href="{% url_preserving_params 'viral_catalogue_fragment' pk=catalogue.id viral_fragment_pk=viral_fragment.id %}">
                                            View&nbsp;contig
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if viral_fragment.is_cluster_representative %}
                                <tr class="vf-table__row">
                                    <td class="vf-table__cell" colspan="6">
                                        Cluster representative of {{ viral_fragment.representative_of_cluster_size }} other viral fragment{{ viral_fragment.representative_of_cluster_size|pluralize }}.
                                        <a class="vf-button vf-button--link vf-button--sm inline"
                                           href="?cluster_representative_id_contains={{ viral_fragment.id }}&cluster_visibility={{ SHOWALL }}">
                                            View&nbsp;cluster
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    <tfoot class="vf-table__footer">
                        <tr class="vf-table__row">
                            <td class="vf-table__cell" colspan="100">{% include "holofood/components/pagination.html" %}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
