{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="vf-intro" id="404">
      <div class="vf-stack">
      <h1 class="vf-intro__heading ">{% block errorcode %}404{% endblock errorcode %}, that's an error.</h1>
          <img src="{% static 'img/404.png' %}" width="320px" alt="Illustration of a malformed lego chicken"/>
        <p class="vf-lede">{% block errorstatement %}We can’t find the page you requested.{% endblock errorstatement %}</p>
        <p class="vf-intro__text">{% block errortext %}It may have been removed, had its name changed, or be temporarily unavailable.{% endblock errortext %}</p>
        <p class="vf-intro__text">For help, contact the <a class="vf-list__link" href="mailto:holofood-help@ebi.ac.uk">Helpdesk</a></p>
      </div>
    </section>
{% endblock content %}