.vf-table__cell {
    font-size: 16px;
}

.scrollable-table {
    overflow: auto;
    display: block;
    background:
		linear-gradient(90deg, white 30%, rgba(255,255,255,0)),
		linear-gradient(90deg, rgba(255,255,255,0), white 70%) 0 100%,
		radial-gradient(farthest-side at 0% 50%, rgba(0,0,0, 0.2), white),
		radial-gradient(farthest-side at 100% 50%, rgba(0,0,0, 0.2), white) 0 100%;

	background-repeat: no-repeat;
	background-color: white;
	background-position: top left, top right, top left, top right;
	background-size: 40px 100%, 40px 100%, 20px 100%, 20px 100%;
	background-attachment: local, local, scroll, scroll;

	tr {
        mix-blend-mode: multiply;
	}
}

img.nav-icon {
    height: 0.8em;
    width: 0.8em;
	padding-right: 0.2em;
}